body {
  background: #eee;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.item {
  width: 100px;
  height: 100px;
  background: red;
  margin: 5px;
}
.test {
  background-image: url(../img/js.png);
  background-size: cover;
}

.menu {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 500px;
}

.container {
  cursor: url('../img/Hammer.cur'), auto;
  display: flex;
  border: 3px dashed red;
  width: 500px;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button {
  display: block;
  margin: 20px;
  border: 1px solid green;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  background-color: rgb(175, 251, 83);
}
