.btn1, .btn2 {
  display: block;
  margin: 20px;
  border: 1px solid green;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  background-color: rgb(175, 251, 83);
}

.heart {
  color: red;
  display: inline;
}

.heartBreak {
  display: none;
}